* {
    box-sizing: border-box;
}body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 248, 248);
}nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #FFDE17;
    text-align: center; /* step 6 */
}nav li {
  display: inline-block; /* step 1 */
  width: 20%; /* step 4 */
  margin-right: 0px; /* step 5 */
  text-align: center;
}nav a {
  display: block; /* step 2 */
  text-decoration: none; /* step 3 */
}/* common text style */
nav a {
  font-family: sans-serif;
  height: 100%; /* vertically center */
  line-height: 100%; /* vertically center */
  color: #fff;
}nav a:hover {
  background-color: #FF6600;
}
 