* {
    box-sizing: border-box;
}body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 248, 248);
}.NavOccupant ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #FFDE17;
    text-align: left; 
}.NavOccupant .NavOccupantLi {
  display: inline-block; 
  width: 10%; 
  margin-right: 0px; 
  text-align: center;
}.NavOccupant a {
  display: block; 
  text-decoration: none; 
}
.NavOccupant a {
  font-family: sans-serif;
  height: 100%; 
  line-height: 100%; 
  color: #fff;
}.NavOccupant a:hover {
  background-color: #FF6600;
}
 